<div class="menu">
  <p>
    <strong>Authorization </strong><br/>
    <a href="/client_credentials" >Client Credential</a>  &nbsp; &nbsp;
    <a href="/authorization_code" >Authorization Code</a>
  </p>
</div>

<div class="content">
  <ol>
  </ol>
</div>

<div class="sidebar">
  <h3>Results...</h3>
  <ul>
    <!--
    <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
    <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
    <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
    <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
    -->
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="results_footer">
    <a href="https://github.com/adplabs/adp-userinfo-ruby.git"><img class="sidebar_logo" src="/images/ADP_logo_tagline.png" alt="Marketplace/Ruby/Library" /></a>
  </div>
</div>
